@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

body {
  margin: 0;
}

#app {
  height: 100vh;
  background-position: bottom;
  background-image: url("img/bns-background.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown-box {
  font-family: "Black Ops One", sans-serif;
  color: white;
  background: linear-gradient(
    0deg,
    rgba(255, 116, 10, 0.75) 0%,
    rgba(255, 157, 82, 0) 100%
  );
  width :700px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;
}

.countdown-unit {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  margin: 0px 30px;
}

.days-box {
  left: 30px;
}

.hours-box {
  left: 205px;
}

.minutes-box {
  right: 205px;
}

.seconds-box {
  right: 30px;
}

.days,
.hours,
.minutes,
.seconds {
  font-size: 80px;
}

.magnitude {
  font-size: 20px;
}
